.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-page img {
  margin-top: 100px;
  width: 1000px;
}

.home-page h1 {
  font-size: 100px;
  text-decoration: none;
  font-weight: 100;
  margin-top: 50px;
}
.home-img-container {
  position: relative;
}

.home-img-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: bolder;
  font-style: italic;
  color: rgba(0, 0, 0, 0.291);
}
